<template>
<Appdemo/>
</template>

<script lang="ts">
import Vue from "vue";
import Appdemo from '../../components/product/ProductList.vue'
export default Vue.extend({
  components: {Appdemo},
  name: "IndexPage",
});
</script>
