
<template>
 <ProductList/>
</template>
<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import ProductList from '../../components/product/ProductList.vue'
export default defineComponent({
  name:'appdemo',
  components: {ProductList},
  setup() {
    
  },
})
</script>
