<template>
  <div>
    <Head />
    <div class="addmore">
      <label for="txt">Tên :</label>
      <input class="inp-txt" type="text" v-model="newproduct.name" />
      <label for="txt">Mô tả :</label>
      <input class="inp-txt" type="text" v-model="newproduct.decription" />
      <button class="buton" @click="addproduct">
        <h3 class="btn-add">Thêm</h3>
      </button>
    </div>
    <div>
      <ul>
        <li class="item" v-for="(product, pk) in products" :key="pk">
          <div>
            <img class="image" :src="product.image" />
            <button class="buton" @click="delproduct(product.id)">
              Delete
            </button>
            <h4>{{ product.name }}</h4>
            <p>{{ product.decription }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api";
import { reactive, toRefs } from "@vue/composition-api";
import { IProduct, initproduct } from "../../types";
import product from "../../src/data/fake/product";
import Head from "../Head.vue";
export default defineComponent({
  name: "productList",
  components: { Head },
  setup() {
    const state = reactive<{
      newproduct: IProduct;
      products: IProduct[];
    }>({ products: product, newproduct: initproduct });
    function delproduct(id: any) {
      state.products = state.products.filter((product) => product.id != id);
    }
    function addproduct() {
      state.products.unshift(state.newproduct);
    }

    return {
      ...toRefs(state),
      delproduct,
      addproduct,
    };
  },
});
</script>
<style scoped>
.image {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: 2px solid red;
  padding-bottom: 0px;
}
.item {
  width: 400px;
  height: 400px;
  padding-bottom: 20px;
}
ul li {
  list-style-type: none;
}
.buton {
  width: 100px;
  height: 50px;
  margin-left: 40px;
}
input {
  width: 150px;
  height: 40px;
}
.addmore {
  padding-bottom: 20px;
}
</style>
